
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<div class="row">
    <p>Impact</p>
    <div class="col-xs-12 col-12 col-md-8 form-group mb-3">
       <select>
        <option value="volvo">Low</option>
        <option value="saab">high</option>
    </select>
    </div>
</div>


<div class="row">
    <p>Details Explain Of Bug *</p>
    <div class="col-xs-12 col-12 col-md-8 form-group mb-3">
        <textarea  class="form-control"></textarea> 
    </div>

</div>