

<div class="container">
  
  <div class="row">
  
    <div class="col-xs-12 col-12 col-md-9 form-group mb-3">
        
      <h1 class="heading">Contact Our</h1>
      <h1  [style.text-align] = "'center'">Customer Support Center</h1>
    </div>
  
    <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
      <img src="assets/images/img1.png" width="200">
    </div>
  </div>
  
<div class="row">
   
  <div class="col-xs-12 col-12 col-md-12 form-group mb-3">
<h1 [style.text-align] = "'center'">Contact Information</h1>
<p [style.text-align] = "'center'">Please fill out your contact information below</p>
</div></div>


<div class="row">
  <p> Name<span  [style.color] = "'red'">*</span></p>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      
    <input type="text"
           placeholder=""
           class="form-control"
           >
           <label for="email">First Name</label>
  </div>

  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
           placeholder=""
           class="form-control"
           >
           <label for="email">Last Name</label>
  </div>
</div>

<div class="row">
  <p>Email<span  [style.color] = "'red'">*</span></p>
  <div class="col-xs-12 col-12 col-md-12 form-group mb-3">
      
    <input type="Email"
           placeholder=""
           class="form-control"
           >
           
  </div>
</div>

<div class="row">
  <p>Phone<span  [style.color] = "'red'">*</span></p>
  <div class="col-xs-12 col-12 col-md-12 form-group mb-3">
      
    <input type="Email"
           placeholder=""
           class="form-control"
           >
           
  </div>
</div>

<div class="row">
  <p>Address<span  [style.color] = "'red'">*</span></p>
  <div class="col-xs-12 col-12 col-md-12 form-group mb-3">
      
    <input type="text"
           placeholder=""
           class="form-control"
           >
           
  </div>
</div>
</div>
<router-outlet></router-outlet>
