<div class="row">
    <p>Youe Name*</p>
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
        
      <input type="text"
             placeholder=""
             class="form-control"
             >
             <label for="email">First Name</label>
    </div>
  
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder=""
             class="form-control"
             >
             <label for="email">Last Name</label>
    </div>
  </div>

  <div class="row">
    <p>Email*</p>
    <div class="col-xs-12 col-12 col-md-8 form-group mb-3">
        
      <input type="Email"
             placeholder=""
             class="form-control"
             >
             
    </div>
  
    
  </div>
 
 


